<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <meta name='description' content='Online API for Viet Nam administrative divisions; API tỉnh thành Việt Nam'>
    <meta name='keywords' content='api, online, tool, vietnam, open, data, province, administrative, divisions, tỉnh thành, quận huyện, phường xã'>
    <meta property='og:title' content='Online API for Viet Nam administrative divisions'>
    <meta property='og:image' content="{{ get_url(path='img/vn-hsts.png')|safe }}">
    <meta name='google-site-verification' content='qO-FwiRjzGujttPltH5NKj4flEZry-nZgd8YtCgYhnk' />
    <link rel='icon' href="{{ get_url(path='img/map.svg')|safe }}">
    <link rel='stylesheet' href="{{ get_url(path='vendor/tailwind.css?v=2.2.4')|safe }}">
    <link href='https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap' rel='stylesheet'>
    <title>{% block title %}{% endblock title %}</title>
    <style>
      body {
        font-family: 'Niramit', sans-serif;
      }
      html {
        font-size: 18px;
      }
    </style>
  </head>
  <body class='min-h-screen flex flex-col' lang='vi'>
    <header class='text-gray-600 body-font'>
      <div class='container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center'>
        <a href='/' class='flex title-font font-medium items-center text-gray-900 hover:text-indigo-600 mb-4 md:mb-0'>
          <img src="{{ get_url(path='img/voa.svg')|safe }}" class='w-10 h-10'>
          <span class='ml-3 text-xl'>Province</span>
        </a>
        <nav class='md:ml-auto flex flex-wrap items-center text-base justify-center space-x-4'>
          <a href='/redoc' class='hover:text-gray-900'>Tài liệu</a>
          <a href='/examples' class='hover:text-gray-900'>Ứng dụng mẫu</a>
          <a href='https://github.com/hongquan/vn-open-api-provinces/' class='hover:text-gray-900'>Mã nguồn</a>
        </nav>
      </div>
    </header>

    {% block main %}{% endblock main %}

    <footer class='text-gray-600 body-font'>
      <div class='container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col'>
        <a class='flex title-font font-medium items-center md:justify-start justify-center text-gray-900 hover:text-green-700' href='https://portal.open-api.vn/'>
          <img src="{{ get_url(path='img/voa.svg')|safe }}" class='w-10 h-10'>
          <span class='ml-3 text-xl'>Vietnam Open API</span>
        </a>
        <div class='text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4'>
          <p>Icon được cho bởi <a href='https://www.flaticon.com/'>flaticon</a>.</p>
          <p>Hình bản đồ Vietnam được cho bởi <a href='https://vemaps.com/vietnam/vn-07'>vemaps.com</a> (với chút thay đổi).</p>
        </div>
      </div>
    </footer>

    {% if get_env(name='TRACKING', default='') != '' %}
      <!-- Matomo -->
      <script type='text/javascript'>
        var _paq = window._paq || [];
        /* tracker methods like 'setCustomDimension' should be called before 'trackPageView' */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u='https://matomo.quan.hoabinh.vn/';
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', '5']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <!-- End Matomo Code -->
    {% endif %}
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
